.NewAbtTopSec {
    width: 100%;
    height: 81px;
    /* background: #131313; */
    position: fixed;
    z-index: 1;
    /* box-shadow: 0 1px 3px rgb(0 0 0 / 34%); */
}


.NewAbtMidSec {
    width: 100%;
    background-color: #131313;
    /* position: absolute; */
    height: 200px;
    z-index: -1;
}

.container.newAbt {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.izandlacont{
    justify-content: center;
    flex-direction: column;
    align-items:center;
    overflow: unset;
}

.izandla{
    margin-top: 40px;
}

.secondHalf {
    width: 100%;
    height: 600px;
    background: #131313;
    margin-top: 50px;
}

.izandla-row.row{
    width:80%;
}

.container.newAbt p {
    opacity: 0.75;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align:center;
}

.col-12.col-xl-4.about-bottom {
    padding-left: 0px;
}

.contactPageInput{
    color: white;
    background: #131313;
}

h1{
    color: #46A16E;
}

.testimonials-section{
    width:70%;
    margin-left: auto;
    margin-right: auto
}

.about-testimonials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-profile-pic-wrapper{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-profile-pic{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

@media (max-width: 1200px) {
    .graphic{
        margin-bottom: 42px;
    }

    .mobile-reverse-direction{
        flex-direction: column-reverse;
    }

    .about-mobile-content{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:1000px){
    .izandlacont,.container.newAbt, .container.newAbtMenu{
        max-width: 100% !important;
        margin-left: 0px;
    }

    .secondHalf{
        height: auto;
    }

    .izandla-row.row{
        margin-left: 50px;
    }

    .collapsed{
        background:transparent !important;
        border-right: 0 !important;
    }

    .testimonials-section{
        width:100%;
        margin-left: auto;
        margin-right: auto
    }

    .about-testimonials{
        display: flex;
        /*flex-direction: column;*/
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
    }

    .testimonial-profile-pic-wrapper{
        width: 100px;
        height: 100px;
        margin-bottom: 80px;
    }

    .testimonial-profile-pic{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}