/*Overall styling of the app components*/
.container{
  height: 100%;
  /*width: 100%;*/
  max-width: 1920px;
  /*margin: 0px;*/
  padding: 0;
  overflow: auto;
  display: flex;
}

/*Styling for the sidebar*/
  #sidebar{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    z-index: 5;
    background: transparent;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    transition: width .35s;
  }

  #sidebar.sidebar-shown{
    background-color: #000;
  }

  #sidebar.collapsed{
    width: 80px;
  }

  .sidebar-nav{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*Styling for the hamburger menu icon*/
  #menu-icon{
    margin-top: 1rem;
    visibility: visible;
    color: #ffffff;
    cursor: pointer;
  }

  #menu-icon.hide{
    display: none;
  }

  #social-links{
    color: #ffffff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    visibility: visible;
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
  }

  .social-lnk{
    margin: 40% 0;
  }

  /*Styling shared for the sidebar elements handling explansion
  and minimising the sidebar*/
  #sidebar-elements{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: visible;
    margin-top: -2rem;
    display: flex;
    flex-direction: row;
  }

  #sidebar-elements.hide{
    visibility: hidden;
  }

  #minimize{
    align-items: center;
    display: flex;
    width: 10%;
    height: 100%;
    background: white;
    color: black;
    cursor: pointer;
  }

  .back-icon {
    align-items: center;
    margin: 0 auto;
    font-size: 48px;
  }

  /*Shared styling for the menu items in the sidebar*/
  #sidenav-options{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
  }

  .link-items{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  }

  .side-nav{
    font-size: 25px;
    list-style: none;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  .side-nav-item{
    padding: 0.5rem 0;
  }

  .nav-item{
    cursor: pointer;
    transition: transform .2s;
  }

  .nav-item:hover{
    font-weight: bolder;
    transform: scale(1.2);
  }

  /*Styling for the static contact elements of the expanded sidebar*/
  #quick-contacts{
    color: #46A16E;
    font-size: 15px;
  }

  .content-area{
    margin-left: 80px;
    display:flex;
    width: 100%;
  }

  /*Shared styling for the main body components of the app*/
.main-body-col-1{
  margin-top: 3rem;
  width: 65%;
  color: white;
}
/*Styling of the Main content Section*/
.mid-content{
  width: 80%;
  /* margin: 0 35%; */
  text-align: left;
}

h1.caption{
  padding: 0.5rem 0rem;
  font-size: 5rem;
  font-weight: bold;
}

h2.caption{
  padding: 0.5rem 0rem;
  font-size: 2.5rem;
  font-weight: bold;
}

p.body-text{
  padding: 0.5rem 0rem;
  width: 95%;
  font-size: 15px;
  opacity: 0.75;
}

.logo{
  margin-top: -1rem;
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}

.overlay-section-main{
  margin-top: 5rem;
  text-align: left;
  /* position: relative; */
}

img.image{
  text-align: left;
  width: 50%;
  height: auto;
}

img.shape{
  width: 162%;
  height: auto;
  margin: 2rem -44% 0;

}

.shape+.shape{
  margin-top: -55rem;
}

.logo-lg{
  width: 200px;
  margin-top: 42px;
}

/*.action-button{*/
/*  !*margin: 2rem 0;*!*/
/*  background-color: white;*/
/*  !*border-radius: 2.5rem;*!*/
/*  cursor:pointer;*/
/*  !*width: 35%;*!*/
/*  !*padding: 0.8rem;*!*/
/*  !*font-size: large;*!*/
/*  !*border: 0.5rem #ffffff;*!*/
/*  box-shadow: 3px 3px 3px rgba(1,1,1,0.3);*/
/*  text-align: center;*/
/*  transition: color 0.3s;*/
/*}*/

/*.action-button:hover{*/
/*  background: black;*/
/*  color: white;*/
/*  transition: transform .2s;*/
/*}*/

/*.action-button:active{*/
/*  background: #46A16E;*/
/*  color: #000000;*/
/*  transform: scale(0.95);*/
/*}*/

.newsletter-arrow{
  font-size: 2rem;
}

/*Styling of the side content section of the app*/
.main-body-col-2{
  color: #ffffff;
  height: 100%;
  background: #111111;
  position: fixed;
  right:0px;
  width: 35%;
}

.top-menubar{
  margin: 2rem 3rem 2rem 3rem;
}

.top-menu-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
}

.side-content{
  margin: 0 3rem;
  height: 100%;
}
#contact-form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.formElement{
  padding: 2%;
  border-radius: .75rem;
  width: 100%;
  margin: .5rem 0;
  background: #444444;
  color: #dddddd;
  outline: none;
  box-shadow: none;
  border: none;
}

.contact-details{
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*.contact-details>.formElement{*/
/*  width:51%;*/
/*}*/

.email + .phone{
  margin-left: 1rem;
}

.message{
  height: 6.5rem;
  resize: none;
}

.submit{
  margin: 0.5rem;
}

._canvas{
  height: 40%;
  width: 1;
  margin: 2% -3rem 0;
  scroll-margin-block: unset;
}

.follow-theboxshoplifestyle{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.theboxshoplifestyle-instagram-label{
  margin-right: 15px;
  font-weight: lighter;
}

.theboxshoplifestyle-instagram{
  margin-right: 1rem;
  font-weight: lighter;
  color: #46A16E;
  transition: transform .3s;
}

.theboxshoplifestyle-instagram:hover{
  font-weight: bolder;
  transform: scale(1.2);
}

/* .gallery{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 4%;
  grid-column-gap: 2%;
  margin-top: 2%;
  width: 1;
} */

.gallery img {
  margin-right: 15px;
  width: 29%;
  margin-bottom: 4px;
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #46A16E;
  border-radius: 10px;
}

@media(max-width: 1800px){
  .mid-content{
    margin: 0 30%;
  }

  img.image{
    text-align: left;
    width: 50%;
    height: auto;
  }

  img.shape{
    width: 160%;
    height: auto;
    margin: 2rem -19% 0;
  }

  .shape+.shape{
    margin-top: -50rem;
  }
}
/* 
@media(max-width: 1600px){

  .shape+.shape{
    margin-top: -30rem;
  }

} */


@media (max-width:1600px){
  .shape+.shape {
    margin-top: -38rem;
  }
}

@media (max-width:1440px){
  .main-body-col-2{
    width: 500px;
  }

  .mid-content{
    margin: 0 10%;
  }

  img.image{
    text-align: left;
    width: 50%;
    height: auto;
  }

  img.shape{
    width: 160%;
    height: auto;
    margin: 2rem -12.5% 0;
  }

  .shape+.shape{
    margin-top: -25rem;
  }

  /* .gallery{
    grid-template-columns: auto auto auto auto;
  } */
}


@media (max-width: 1280px){
  .mid-content.about-mid-content{
    margin-left: 60px;
  }
}

@media (max-width:1260px){
  .main-body-col-1{
    width: 70%;
  }

  .mid-content{
    width: 70%;
  }

  img.image{
    text-align: left;
    width: 50%;
    height: auto;
  }

  img.shape{
    width: 160%;
    height: auto;
    margin: 2rem -14% 0;
  }

  .shape+.shape{
    margin-top: -20rem;
  }

  .main-body-col-2{
    width: 400px;
  }

  /* .gallery{
    grid-template-columns: auto auto auto;
  } */
}

@media screen and (max-width:1000px){

  img.image{
    text-align: left;
    width: 50%;
    height: auto;
  }

  img.shape{
    width: 175%;
    height: auto;
    margin: 2rem -29% 0;
  }

  .shape+.shape{
    margin-top: -1rem;
  }

  /* .gallery{
    grid-template-columns: auto auto;
  } */

  .content-area{
    flex-direction: column;
  }

  .main-body-col-2{
    position: unset;
  }

  .main-body-col-1, .main-body-col-2{
    width: 100%;
  }

  .main-body-col-2{
    padding-top: 60px;
  }
}


@media (max-width:400px){

}

@media (min-device-height:900px ){

}