.btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    cursor: pointer;
}

span {
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 1px;
    height: 2px;
    background: #fff;
    transition: all .3s;
    /*position: relative;*/
}

span + span {
    margin-top: 8px;
}

